#term-url-bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #2472C8;
    color: #E5E5E5;
    padding: 0 1%;
    font-family: monospace;
    font-size: medium;
}

#term-url-input {
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    width: 60%;
}

.term {
    /* for centering the term elements */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: left;

    /* allow the user to resize the terminal at will */
    resize: both;
    overflow: hidden;

    /* establish the font for measurement purposes */
    font-size: x-large;
    font-family: monospace;
    
    padding-left: .01em; /* fix characters getting cut off */

    /* default widths and height 
      80 characters is a standard with, we budget extra
      for the padding and the scrollbar
    */
    min-width: 82ch;
    width: 82ch;
    height: 60.5ch;  /* for that nice 4:3 resolution :) */
}

.term-element {
    /* establish the font */
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    /* outline: 5px solid red; /* for debugging */
}

#term-input, #term-output {
    /* nice dark theme colors */
    color: #E5E5E5;
    background-color: #1E1E1E;
    white-space: pre-wrap; /*wrap-lines, but preserve lines and spaces/tabs */
}

/* establishing height and dimensions */
#term-input {
    resize: none;
    /* term-input is kept at about 1 line */
    min-height: 2.0em;
    max-height: 2.0em;
    overflow-y: auto; /* no scrollbar */
}

#term-output {
    overflow: hidden scroll;
    overflow-wrap: break-word;
    flex-grow: 1;
}


/* CLASSES FOR ANSI-ESCAPE CODE FORMATTING */
/* text decoration classes */
.term-bold { font-weight: bold; }
.term-italic { font-style: italic; }
.term-underline { text-decoration: underline; }
.term-blink { animation: blinking 1s steps(1, end) infinite; }
@keyframes blinking { 50% { opacity: 0; } }
/* in case default is selected, we need to swap these colors */
.term-reverse {
    background-color: #E5E5E5;
    color: #1E1E1E;
}
.term-strike { text-decoration: line-through; }
/* extra class since term-underline and term-strike cannot stack */
.term-underline-strike { text-decoration: underline line-through; }

/* foreground colors */
.term-black   { color: #1E1E1E; }
.term-red     { color: #CD3131; }
.term-green   { color: #0DBC79; }
.term-yellow  { color: #E5E510; }
.term-blue    { color: #2472C8; }
.term-magenta { color: #BC3FBC; }
.term-cyan    { color: #11A8CD; }
.term-white   { color: #E5E5E5; }
.term-bright-black   { color: #666666; }
.term-bright-red     { color: #F14C4C; }
.term-bright-green   { color: #23D18B; }
.term-bright-yellow  { color: #F5F543; }
.term-bright-blue    { color: #3B8EEA; }
.term-bright-magenta { color: #D670D6; }
.term-bright-cyan    { color: #29B8DB; }
.term-bright-white   { color: #E5E5E5; }

/* background colors */
.term-black-bg   { background-color: #1E1E1E; }
.term-red-bg     { background-color: #CD3131; }
.term-green-bg   { background-color: #0DBC79; }
.term-yellow-bg  { background-color: #E5E510; }
.term-blue-bg    { background-color: #2472C8; }
.term-magenta-bg { background-color: #BC3FBC; }
.term-cyan-bg    { background-color: #11A8CD; }
.term-white-bg   { background-color: #E5E5E5; }
.term-bright-black-bg   { background-color: #666666; }
.term-bright-red-bg     { background-color: #F14C4C; }
.term-bright-green-bg   { background-color: #23D18B; }
.term-bright-yellow-bg  { background-color: #F5F543; }
.term-bright-blue-bg    { background-color: #3B8EEA; }
.term-bright-magenta-bg { background-color: #D670D6; }
.term-bright-cyan-bg    { background-color: #29B8DB; }
.term-bright-white-bg   { background-color: #E5E5E5; }
